# Oscar Genre Analysis

Here's the file I'm using to note the changes I'm making to my analysis of Oscar results. At the start, I just need to load the original oscar data and the IMDb movie data into memory, dropping a couple of rows that will be irrelevant to our analysis.

In [1]:
import time
import string
import re
import collections
import requests
import pandas as pd
import numpy as np

In [2]:
IMDB_FILE = "data/imdb_movie_data.csv"
OSCAR_FILE = "data/major_categories.csv"
OUTPUT_FILE = "data/merged_major_categories.csv"
OMDB_API = "6c0455f8"

def clean_text(input_str):
    """Lowercases, removes repeated whitespace, removes punctuation, and replaces ampersands in text"""
    remove_punc = str.maketrans("", "", string.punctuation)
    normalized_str = input_str.lower().replace("&", "and")
    return re.sub(r"\s+", " ", normalized_str.replace("--", ": ").translate(remove_punc)).strip()

imdb_data = pd.read_csv(IMDB_FILE, dtype=str).replace("\\N", np.nan).dropna(subset=["startYear"])
imdb_data["title"] = imdb_data["primaryTitle"].apply(clean_text)
imdb_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance,miss jerry
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,20,"Documentary,News,Sport",the corbettfitzsimmons fight
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,NaN,NaN,"Biography,Drama",soldiers of the cross
3,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN,bohemios
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Biography,Crime,Drama",the story of the kelly gang

In [3]:
oscar_data = pd.read_csv(OSCAR_FILE, dtype=str).dropna(subset=["nominated_film"])
oscar_data["start_year"] = oscar_data["year"].str.extract(r"(^[0-9]{4})")
assert len(oscar_data[oscar_data["start_year"].isnull()]) == 0
oscar_data["oscar_id"] = oscar_data.index
oscar_data["title_lower"] = oscar_data["nominated_film"].apply(clean_text)
oscar_data.tail()

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower
2740,2018,BEST PICTURE,False,"Ceci Dempsey, Ed Guiney, Lee Magiday and Yorgo...",The Favourite,NaN,NaN,2018,2740,the favourite
2741,2018,BEST PICTURE,True,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Green Book,NaN,NaN,2018,2741,green book
2742,2018,BEST PICTURE,False,"Gabriela Rodríguez and Alfonso Cuarón, Producers",Roma,NaN,NaN,2018,2742,roma
2743,2018,BEST PICTURE,False,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,NaN,NaN,2018,2743,a star is born
2744,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice

Now, I'm going to join the Oscar data with the IMDb data. I'm using a left join because I found that I couldn't match some of the Oscar films to IMDb films because of slight changes to the title (many of these are because of variations in punctuation, though not all).

After performing the join, I'm listing the titles I couldn't find in the IMDb data, so I can add those manually.

In [4]:
def merge_results():
    return oscar_data.merge(imdb_data, left_on=["title_lower"], right_on=["title"], how="left")

merged_oscar_results = merge_results()
merged_oscar_results.tail()

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
6302,2018,BEST PICTURE,False,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,NaN,NaN,2018,2743,a star is born,tt2076149,movie,A Star Is Born,A Star Is Born,0,1973,NaN,NaN,"Drama,Romance",a star is born
6303,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt0232957,movie,Vice,Vice,0,2000,NaN,87,"Comedy,Drama",vice
6304,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt0762145,movie,Vice,Vice,0,2008,NaN,99,"Crime,Drama,Mystery",vice
6305,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt3480796,movie,Vice,Vice,0,2015,NaN,96,"Action,Adventure,Sci-Fi",vice
6306,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt6266538,movie,Vice,Vice,0,2018,NaN,132,"Biography,Comedy,Drama",vice

In [5]:
non_matches = merged_oscar_results[merged_oscar_results["title"].isna()].copy()
non_matches[["title_lower", "year", "oscar_id"]]

                                       title_lower     year  oscar_id
105                                hollywood revue  1928/29        34
979                         all that money can buy     1941       343
1218                                       g i joe     1945       485
1977                 adventures of robinson crusoe     1954       757
2531               meredith willsons the music man     1962      1023
2581                         federico fellinis 812     1963      1048
3127                             fellini satyricon     1970      1256
3387         jacqueline susanns once is not enough     1975      1405
3549                                     star wars     1977      1453
3610                                     star wars     1977      1469
3627                                     star wars     1977      1474
3974                                victorvictoria     1982      1605
3975                                victorvictoria     1982      1606
3995                                victorvictoria     1982      1615
4440                                   good fellas     1990      1845
4450                                   good fellas     1990      1852
4464                                   good fellas     1990      1858
4479                                   good fellas     1990      1865
4719                        the postman il postino     1995      1990
4724                                    12 monkeys     1995      1993
4753                        the postman il postino     1995      2010
4760                        the postman il postino     1995      2014
5145                              mulholland drive     2001      2190
5587  precious based on the novel push by sapphire     2009      2419
5600  precious based on the novel push by sapphire     2009      2425
5607  precious based on the novel push by sapphire     2009      2429
5621  precious based on the novel push by sapphire     2009      2437

From here, I need to add the above titles, so there are no values in our merged database without IMDb's special information (even if I have to add some titles completely by hand. This approach doesn't handle cases where there are relevant titles, but they aren't the ones we're looking for (for instance, there were films called *Red*, matching the name of an Oscar-nominated film that the IMDb database refers to as *Three Colors: Red*). I've manually added those cases here.

In [6]:
changed_names = [
    "the hollywood revue of 1929",
    "les misérables",
    "the devil and daniel webster",
    "49th parallel",
    "story of gi joe",
    "5 fingers",
    "robinson crusoe",
    "the music man",
    "8½",
    "fellinis satyricon",
    "once is not enough",
    "star wars episode iv a new hope",
    "star wars episode iv a new hope",
    "star wars episode iv a new hope",
    "victor victoria",
    "victor victoria",
    "victor victoria",
    "goodfellas",
    "goodfellas",
    "goodfellas",
    "goodfellas",
    "three colors red",
    "il postino",
    "twelve monkeys",
    "il postino",
    "il postino",
    "mulholland dr",
    "precious",
    "precious",
    "precious",
    "precious"
]
oscar_ids = sorted(set(non_matches.oscar_id) | set({157, 401, 713, 1980}))

def alter_cells(oscar_ids, alter_names):
    new_names = iter(alter_names)
    for record in oscar_data.to_dict("records"):
        if record["oscar_id"] in oscar_ids:
            record["title_lower"] = next(new_names)
        yield record

oscar_data = pd.DataFrame(alter_cells(oscar_ids, changed_names))
merged_oscar_results = merge_results()
just_title_join_len = len(merged_oscar_results)
assert len(merged_oscar_results[merged_oscar_results["startYear"].isnull()]) == 0
assert len(merged_oscar_results[~merged_oscar_results.oscar_id.isin(oscar_data.oscar_id)]) == 0

merged_oscar_results[merged_oscar_results.oscar_id.isin(oscar_ids)]

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
105,1928/29,OUTSTANDING PICTURE,False,Metro-Goldwyn-Mayer,Hollywood Revue,THIS IS NOT AN OFFICIAL NOMINATION. There were...,NaN,1928,34,the hollywood revue of 1929,tt0019993,movie,The Hollywood Revue of 1929,The Hollywood Revue of 1929,0,1929,NaN,130,Musical,the hollywood revue of 1929
418,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0008305,movie,Les Misérables,Les Misérables,0,1917,NaN,100,Drama,les misérables
419,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0016112,movie,Les Misérables,Les misérables,0,1925,NaN,359,Drama,les misérables
420,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0025509,movie,Les Misérables,Les misérables,0,1934,NaN,281,Drama,les misérables
421,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0026725,movie,Les Misérables,Les Misérables,0,1935,NaN,108,"Drama,History,Romance",les misérables
422,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0036162,movie,Les misérables,Los miserables,0,1943,NaN,103,Drama,les misérables
423,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0036654,movie,Les Misérables,El boassa,0,1943,NaN,NaN,Drama,les misérables
424,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0039629,movie,Les Misérables,Caccia all'uomo,0,1948,NaN,86,Drama,les misérables
425,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0050709,movie,Les Misérables,Les misérables,0,1958,NaN,210,Drama,les misérables
426,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0084340,movie,Les Misérables,Les misérables,0,1982,NaN,220,Drama,les misérables
427,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0113828,movie,Les Misérables,Les misérables,0,1995,NaN,175,"Drama,History",les misérables
428,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0119683,movie,Les Misérables,Les Misérables,0,1998,NaN,134,"Crime,Drama,History",les misérables
429,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0431383,movie,Les Misérables,Sefiller,0,1967,NaN,86,Drama,les misérables
430,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt10199590,movie,Les Misérables,Les misérables,0,2019,NaN,104,"Crime,Drama,Thriller",les misérables
431,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt1707386,movie,Les Misérables,Les Misérables,0,2012,NaN,158,"Drama,History,Musical",les misérables
432,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt1829708,movie,Les misérables,Les misérables,0,1912,NaN,163,Drama,les misérables
433,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt3454604,movie,Les misérables,Les misérables,0,2007,NaN,112,Drama,les misérables
434,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt5615922,movie,Les Misérables,Les Misérables,0,2016,NaN,NaN,Drama,les misérables
995,1941,ACTOR,False,Walter Huston,All That Money Can Buy,NaN,NaN,1941,343,the devil and daniel webster,tt0033532,movie,The Devil and Daniel Webster,All That Money Can Buy,0,1941,NaN,107,"Comedy,Drama,Fantasy",the devil and daniel webster
1074,1942,OUTSTANDING MOTION PICTURE,False,Ortus,The Invaders,NaN,NaN,1942,401,49th parallel,tt0033627,movie,49th Parallel,49th Parallel,0,1941,NaN,123,"Drama,Thriller,War",49th parallel
1233,1945,ACTOR IN A SUPPORTING ROLE,False,Robert Mitchum,G. I. Joe,NaN,NaN,1945,485,story of gi joe,tt0038120,movie,Story of G.I. Joe,Story of G.I. Joe,0,1945,NaN,108,"Biography,Drama,War",story of gi joe
1911,1952,DIRECTING,False,Joseph L. Mankiewicz,Five Fingers,NaN,NaN,1952,713,5 fingers,tt0044314,movie,5 Fingers,5 Fingers,0,1952,NaN,108,"Drama,Film-Noir,Thriller",5 fingers
1991,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0038888,movie,Robinson Crusoe,Robinzon Kruzo,0,1947,NaN,85,"Adventure,Drama",robinson crusoe
1992,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0044386,movie,Robinson Crusoe,Robinson Crusoe,0,1954,NaN,90,"Adventure,Drama",robinson crusoe
1993,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0064900,movie,Robinson Crusoe,Robinson Crusoe,0,1970,NaN,110,"Adventure,Drama,Family",robinson crusoe
1994,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0069541,movie,Robinson Crusoe,Zhizn i udivitelnye priklyucheniya Robinzona K...,0,1973,NaN,92,Adventure,robinson crusoe
1995,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0117496,movie,Robinson Crusoe,Robinson Crusoe,0,1997,NaN,105,"Adventure,Drama",robinson crusoe
1996,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0158901,movie,Robinson Crusoe,Robinson Crusoe,0,1916,NaN,NaN,Adventure,robinson crusoe
1997,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0196057,movie,Robinson Crusoe,Robinson Crusoe,0,1927,NaN,65,Adventure,robinson crusoe
1998,1954,ACTOR,False,Dan O'Herlihy,Adventures of Robinson Crusoe,NaN,NaN,1954,757,robinson crusoe,tt0884832,movie,Robinson Crusoe,Il racconto della giungla,0,1974,NaN,88,Animation,robinson crusoe
2552,1962,BEST PICTURE,False,"Morton Da Costa, Producer",Meredith Willson's The Music Man,NaN,NaN,1962,1023,the music man,tt0056262,movie,The Music Man,The Music Man,0,1962,NaN,151,"Comedy,Family,Musical",the music man
2553,1962,BEST PICTURE,False,"Morton Da Costa, Producer",Meredith Willson's The Music Man,NaN,NaN,1962,1023,the music man,tt0385277,movie,The Music Man,Santouri,0,2007,NaN,107,"Drama,Musical,Romance",the music man
2603,1963,DIRECTING,False,Federico Fellini,Federico Fellini's 8-1/2,NaN,NaN,1963,1048,8½,tt0056801,movie,8½,8½,0,1963,NaN,138,Drama,8½
3149,1970,DIRECTING,False,Federico Fellini,Fellini Satyricon,NaN,NaN,1970,1256,fellinis satyricon,tt0064940,movie,Fellini's Satyricon,Fellini - Satyricon,0,1969,NaN,129,"Drama,Fantasy,History",fellinis satyricon
3409,1975,ACTRESS IN A SUPPORTING ROLE,False,Brenda Vaccaro,Jacqueline Susann's Once Is Not Enough,NaN,NaN,1975,1405,once is not enough,tt0073190,movie,Once Is Not Enough,Once Is Not Enough,0,1975,NaN,121,"Drama,Romance",once is not enough
3571,1977,ACTOR IN A SUPPORTING ROLE,False,Alec Guinness,Star Wars,NaN,NaN,1977,1453,star wars episode iv a new hope,tt0076759,movie,Star Wars: Episode IV - A New Hope,Star Wars,0,1977,NaN,121,"Action,Adventure,Fantasy",star wars episode iv a new hope
3632,1977,DIRECTING,False,George Lucas,Star Wars,NaN,NaN,1977,1469,star wars episode iv a new hope,tt0076759,movie,Star Wars: Episode IV - A New Hope,Star Wars,0,1977,NaN,121,"Action,Adventure,Fantasy",star wars episode iv a new hope
3649,1977,BEST PICTURE,False,"Gary Kurtz, Producer",Star Wars,NaN,NaN,1977,1474,star wars episode iv a new hope,tt0076759,movie,Star Wars: Episode IV - A New Hope,Star Wars,0,1977,NaN,121,"Action,Adventure,Fantasy",star wars episode iv a new hope
3996,1982,ACTOR IN A SUPPORTING ROLE,False,Robert Preston,Victor/Victoria,NaN,NaN,1982,1605,victor victoria,tt0084865,movie,Victor Victoria,Victor Victoria,0,1982,NaN,134,"Comedy,Music,Musical",victor victoria
3997,1982,ACTRESS IN A LEADING ROLE,False,Julie Andrews,Victor/Victoria,NaN,NaN,1982,1606,victor victoria,tt0084865,movie,Victor Victoria,Victor Victoria,0,1982,NaN,134,"Comedy,Music,Musical",victor victoria
4017,1982,ACTRESS IN A SUPPORTING ROLE,False,Lesley Ann Warren,Victor/Victoria,NaN,NaN,1982,1615,victor victoria,tt0084865,movie,Victor Victoria,Victor Victoria,0,1982,NaN,134,"Comedy,Music,Musical",victor victoria
4462,1990,ACTOR IN A SUPPORTING ROLE,True,Joe Pesci,Good Fellas,NaN,NaN,1990,1845,goodfellas,tt0099685,movie,Goodfellas,Goodfellas,0,1990,NaN,146,"Biography,Crime,Drama",goodfellas
4472,1990,ACTRESS IN A SUPPORTING ROLE,False,Lorraine Bracco,Good Fellas,NaN,NaN,1990,1852,goodfellas,tt0099685,movie,Goodfellas,Goodfellas,0,1990,NaN,146,"Biography,Crime,Drama",goodfellas
4486,1990,DIRECTING,False,Martin Scorsese,Good Fellas,NaN,NaN,1990,1858,goodfellas,tt0099685,movie,Goodfellas,Goodfellas,0,1990,NaN,146,"Biography,Crime,Drama",goodfellas
4501,1990,BEST PICTURE,False,"Irwin Winkler, Producer",Good Fellas,NaN,NaN,1990,1865,goodfellas,tt0099685,movie,Goodfellas,Goodfellas,0,1990,NaN,146,"Biography,Crime,Drama",goodfellas
4719,1994,DIRECTING,False,Krzysztof Kieslowski,Red,NaN,NaN,1994,1980,three colors red,tt0111495,movie,Three Colors: Red,Trois couleurs: Rouge,0,1994,NaN,99,"Drama,Mystery,Romance",three colors red
4731,1995,ACTOR IN A LEADING ROLE,False,Massimo Troisi,The Postman (Il Postino),NaN,NaN,1995,1990,il postino,tt0110877,movie,Il Postino,Il postino,0,1994,NaN,108,"Biography,Comedy,Drama",il postino
4736,1995,ACTOR IN A SUPPORTING ROLE,False,Brad Pitt,12 Monkeys,NaN,NaN,1995,1993,twelve monkeys,tt0114746,movie,Twelve Monkeys,Twelve Monkeys,0,1995,NaN,129,"Mystery,Sci-Fi,Thriller",twelve monkeys
4765,1995,DIRECTING,False,Michael Radford,The Postman (Il Postino),NaN,NaN,1995,2010,il postino,tt0110877,movie,Il Postino,Il postino,0,1994,NaN,108,"Biography,Comedy,Drama",il postino
4772,1995,BEST PICTURE,False,"Mario Cecchi Gori, Vittorio Cecchi Gori and Ga...",The Postman (Il Postino),NaN,NaN,1995,2014,il postino,tt0110877,movie,Il Postino,Il postino,0,1994,NaN,108,"Biography,Comedy,Drama",il postino
5157,2001,DIRECTING,False,David Lynch,Mulholland Drive,NaN,NaN,2001,2190,mulholland dr,tt0166924,movie,Mulholland Dr.,Mulholland Dr.,0,2001,NaN,147,"Drama,Mystery,Thriller",mulholland dr
5599,2009,ACTRESS IN A LEADING ROLE,False,Gabourey Sidibe,Precious: Based on the Novel 'Push' by Sapphire,NaN,NaN,2009,2419,precious,tt0929632,movie,Precious,Precious,0,2009,NaN,110,Drama,precious
5612,2009,ACTRESS IN A SUPPORTING ROLE,True,Mo'Nique,Precious: Based on the Novel 'Push' by Sapphire,NaN,NaN,2009,2425,precious,tt0929632,movie,Precious,Precious,0,2009,NaN,110,Drama,precious
5619,2009,DIRECTING,False,Lee Daniels,Precious: Based on the Novel 'Push' by Sapphire,NaN,NaN,2009,2429,precious,tt0929632,movie,Precious,Precious,0,2009,NaN,110,Drama,precious
5633,2009,BEST PICTURE,False,"Lee Daniels, Sarah Siegel-Magness and Gary Mag...",Precious: Based on the Novel 'Push' by Sapphire,NaN,NaN,2009,2437,precious,tt0929632,movie,Precious,Precious,0,2009,NaN,110,Drama,precious

Now, I have to address the joining problem from the opposite end: handling movies that appear multiple times (i.e. because I found too many matches with IMDb's database). I'll start by simply filtering out results that did not occur recently. Then, I'll try to filter out additional duplicates by removing cases that occur in the same 2-year period but *have not been nominated for awards*.

In [7]:
merged_oscar_results["start_year"] = merged_oscar_results["start_year"].apply(int)
merged_oscar_results["startYear"] = merged_oscar_results["startYear"].apply(int)
merged_oscar_results = merged_oscar_results[
    abs(merged_oscar_results["start_year"] - merged_oscar_results["startYear"]) <= 2
]
assert len(merged_oscar_results[~merged_oscar_results.oscar_id.isin(oscar_data.oscar_id)]) == 0
merged_oscar_results.reset_index(inplace=True, drop=True)
merged_oscar_results.tail()

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
2838,2018,BEST PICTURE,False,"Ceci Dempsey, Ed Guiney, Lee Magiday and Yorgo...",The Favourite,NaN,NaN,2018,2740,the favourite,tt5083738,movie,The Favourite,The Favourite,0,2018,NaN,119,"Biography,Comedy,Drama",the favourite
2839,2018,BEST PICTURE,True,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Green Book,NaN,NaN,2018,2741,green book,tt6966692,movie,Green Book,Green Book,0,2018,NaN,130,"Biography,Comedy,Drama",green book
2840,2018,BEST PICTURE,False,"Gabriela Rodríguez and Alfonso Cuarón, Producers",Roma,NaN,NaN,2018,2742,roma,tt6155172,movie,Roma,Roma,0,2018,NaN,135,Drama,roma
2841,2018,BEST PICTURE,False,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,NaN,NaN,2018,2743,a star is born,tt1517451,movie,A Star Is Born,A Star Is Born,0,2018,NaN,136,"Drama,Music,Romance",a star is born
2842,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt6266538,movie,Vice,Vice,0,2018,NaN,132,"Biography,Comedy,Drama",vice

In [8]:
count_results = merged_oscar_results.groupby("oscar_id").apply(len)
# mark IDs where the number of movies has been duplicated
duplicate_movies = list(count_results[count_results != 1].index)
duplicated_imdb = merged_oscar_results[merged_oscar_results["oscar_id"].isin(duplicate_movies)]
duplicated_imdb.head()

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
43,1929/30,ACTRESS,False,Greta Garbo,Anna Christie,NaN,NaN,1929,44,anna christie,tt0020641,movie,Anna Christie,Anna Christie,0,1930,NaN,89,"Drama,Romance",anna christie
44,1929/30,ACTRESS,False,Greta Garbo,Anna Christie,NaN,NaN,1929,44,anna christie,tt0020642,movie,Anna Christie,Anna Christie,0,1930,NaN,85,Drama,anna christie
48,1929/30,DIRECTING,False,Clarence Brown,Anna Christie;,NaN,NaN,1929,48,anna christie,tt0020641,movie,Anna Christie,Anna Christie,0,1930,NaN,89,"Drama,Romance",anna christie
49,1929/30,DIRECTING,False,Clarence Brown,Anna Christie;,NaN,NaN,1929,48,anna christie,tt0020642,movie,Anna Christie,Anna Christie,0,1930,NaN,85,Drama,anna christie
157,1935,OUTSTANDING PRODUCTION,False,20th Century,Les Miserables,NaN,NaN,1935,157,les misérables,tt0025509,movie,Les Misérables,Les misérables,0,1934,NaN,281,Drama,les misérables

In [9]:
explicit_award_exceptions = {"tt0152267"}

def has_award(x):
    time.sleep(1)
    imdb_id = x["tconst"]   
    url = "http://www.omdbapi.com/?i={}&apikey={}".format(imdb_id, OMDB_API)
    json_results = requests.get(url).json()
    try:
        return json_results["Awards"] != "N/A" or imdb_id in explicit_award_exceptions
    except:
        import logging
        logging.warning("Failed to parse {}".format(x))

dup_has_award = duplicated_imdb.apply(has_award, axis=1)
merged_oscar_results.drop(merged_oscar_results.index[list(dup_has_award[dup_has_award == False].index)], inplace=True)
merged_oscar_results.reset_index(inplace=True, drop=True)
merged_oscar_results.tail()

WARNING:root:Failed to parse year                       1970
award                     ACTOR
won                       False
nominee             Ryan O'Neal
nominated_film       Love Story
addl_notes                  NaN
special_citation            NaN
start_year                 1970
oscar_id                   1239
title_lower          love story
tconst                tt9076170
titleType                 movie
primaryTitle         Love story
originalTitle        Love story
isAdult                       0
startYear                  1972
endYear                     NaN
runtimeMinutes               72
genres                      NaN
title                love story
Name: 1239, dtype: object
WARNING:root:Failed to parse year                                      1970
award               ACTOR IN A SUPPORTING ROLE
won                                      False
nominee                            John Marley
nominated_film                      Love Story
addl_notes                                 NaN
special_citation                           NaN
start_year                                1970
oscar_id                                  1244
title_lower                         love story
tconst                               tt9076170
titleType                                movie
primaryTitle                        Love story
originalTitle                       Love story
isAdult                                      0
startYear                                 1972
endYear                                    NaN
runtimeMinutes                              72
genres                                     NaN
title                               love story
Name: 1245, dtype: object
WARNING:root:Failed to parse year                       1970
award                   ACTRESS
won                       False
nominee             Ali MacGraw
nominated_film       Love Story
addl_notes                  NaN
special_citation            NaN
start_year                 1970
oscar_id                   1248
title_lower          love story
tconst                tt9076170
titleType                 movie
primaryTitle         Love story
originalTitle        Love story
isAdult                       0
startYear                  1972
endYear                     NaN
runtimeMinutes               72
genres                      NaN
title                love story
Name: 1250, dtype: object
WARNING:root:Failed to parse year                         1970
award                   DIRECTING
won                         False
nominee             Arthur Hiller
nominated_film         Love Story
addl_notes                    NaN
special_citation              NaN
start_year                   1970
oscar_id                     1257
title_lower            love story
tconst                  tt9076170
titleType                   movie
primaryTitle           Love story
originalTitle          Love story
isAdult                         0
startYear                    1972
endYear                       NaN
runtimeMinutes                 72
genres                        NaN
title                  love story
Name: 1260, dtype: object
WARNING:root:Failed to parse year                                      1970
award                             BEST PICTURE
won                                      False
nominee             Howard G. Minsky, Producer
nominated_film                      Love Story
addl_notes                                 NaN
special_citation                           NaN
start_year                                1970
oscar_id                                  1263
title_lower                         love story
tconst                               tt9076170
titleType                                movie
primaryTitle                        Love story
originalTitle                       Love story
isAdult                                      0
startYear                                 1972
endYear                                    NaN
runtimeMinutes                              72
genres                                     NaN
title                               love story
Name: 1267, dtype: object
WARNING:root:Failed to parse year                                     2016
award               ACTRESS IN A LEADING ROLE
won                                     False
nominee                      Isabelle Huppert
nominated_film                           Elle
addl_notes                                NaN
special_citation                          NaN
start_year                               2016
oscar_id                                 2654
title_lower                              elle
tconst                              tt9104092
titleType                               movie
primaryTitle                             Elle
originalTitle                            Elle
isAdult                                     0
startYear                                2018
endYear                                   NaN
runtimeMinutes                             60
genres                                 Sci-Fi
title                                    elle
Name: 2747, dtype: object

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
2755,2018,BEST PICTURE,False,"Ceci Dempsey, Ed Guiney, Lee Magiday and Yorgo...",The Favourite,NaN,NaN,2018,2740,the favourite,tt5083738,movie,The Favourite,The Favourite,0,2018,NaN,119,"Biography,Comedy,Drama",the favourite
2756,2018,BEST PICTURE,True,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Green Book,NaN,NaN,2018,2741,green book,tt6966692,movie,Green Book,Green Book,0,2018,NaN,130,"Biography,Comedy,Drama",green book
2757,2018,BEST PICTURE,False,"Gabriela Rodríguez and Alfonso Cuarón, Producers",Roma,NaN,NaN,2018,2742,roma,tt6155172,movie,Roma,Roma,0,2018,NaN,135,Drama,roma
2758,2018,BEST PICTURE,False,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,NaN,NaN,2018,2743,a star is born,tt1517451,movie,A Star Is Born,A Star Is Born,0,2018,NaN,136,"Drama,Music,Romance",a star is born
2759,2018,BEST PICTURE,False,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,NaN,NaN,2018,2744,vice,tt6266538,movie,Vice,Vice,0,2018,NaN,132,"Biography,Comedy,Drama",vice

From here, there is still one risk: Some films may have received awards, had the same name as films, *and* been nominated or won awards that caused the Open Movie Database to find duplicates. There aren't going to be many of these, so I'm simply going to manually(ish) delete the duplicates I find.

In [10]:
count_results = merged_oscar_results.groupby("oscar_id").apply(len)
# mark IDs where the number of movies has been duplicated
duplicate_movies = list(count_results[count_results != 1].index)
merged_oscar_results[merged_oscar_results["oscar_id"].isin(duplicate_movies)][["nominated_film", "tconst", "start_year"]].drop_duplicates()

                       nominated_film     tconst  start_year
155                    Les Miserables  tt0025509        1935
156                    Les Miserables  tt0026725        1935
1185                 Romeo and Juliet  tt0060911        1968
1186                 Romeo and Juliet  tt0063518        1968
1227                       Love Story  tt0066011        1970
1228                       Love Story  tt9076170        1970
1761                 The Last Emperor  tt0091235        1987
1762                 The Last Emperor  tt0093389        1987
2115                   Boys Don't Cry  tt0171804        1999
2116                   Boys Don't Cry  tt0238119        1999
2373                      The Visitor  tt0857191        2008
2374                      The Visitor  tt0969307        2008
2376                             Milk  tt1013753        2008
2377                             Milk  tt1284591        2008
2383                            Doubt  tt0918927        2008
2384                            Doubt  tt1371723        2008
2418                    The Messenger  tt0790712        2009
2419                    The Messenger  tt0981352        2009
2483                    A Better Life  tt1554091        2011
2484                    A Better Life  tt2027265        2011
2496  The Girl with the Dragon Tattoo  tt1132620        2011
2497  The Girl with the Dragon Tattoo  tt1568346        2011
2522                       The Master  tt1560747        2012
2523                       The Master  tt4117096        2012
2604                             Wild  tt2305051        2014
2605                             Wild  tt4071086        2014
2668                             Elle  tt3716530        2016
2669                             Elle  tt9104092        2016

In [11]:
false_positive_ids = [
    "tt0025509", 
    "tt0060911", 
    "tt9076170", 
    "tt0091235", 
    "tt0238119", 
    "tt0969307", 
    "tt1284591", 
    "tt1371723", 
    "tt0981352", 
    "tt2027265", 
    "tt1132620", 
    "tt4117096", 
    "tt4071086", 
    "tt9104092"
]
false_positive_idxs = merged_oscar_results[merged_oscar_results.tconst.isin(false_positive_ids)].index
merged_oscar_results.drop(merged_oscar_results.index[false_positive_idxs], inplace=True)
assert set(merged_oscar_results.groupby("oscar_id").apply(len).unique()) == {1}

Finally, I need to remove cases where I couldn't find any matching awards because they appear in the database by a different name (but other movies with these names still appear in the database). I've added these names to the part of this script where I've changed cell names.

I also need to account for the case where OMDb improperly suggests that a film did not have any award information (I know, it happened to me once). I've added a variable in the `has_award` section to allow for explicit exceptions in cases where this is a problem.

In [26]:
missing_ids = (collections.Counter(oscar_data.oscar_id) - collections.Counter(merged_oscar_results.oscar_id)).keys()
oscar_data[oscar_data.oscar_id.isin(missing_ids)]

,year,award,won,nominee,nominated_film,addl_notes,special_citation,start_year,oscar_id,title_lower
414,1943,ACTOR IN A SUPPORTING ROLE,False,J. Carrol Naish,Sahara,NaN,NaN,1943,418,sahara

In [13]:
assert collections.Counter(merged_oscar_results.oscar_id) == collections.Counter(oscar_data.oscar_id)
assert len(merged_oscar_results[merged_oscar_results.title.isnull()]) == 0

AssertionError:

Now, I've addressed all of the things that can (and would have) screwed up the join I was performing between the IMDb data and the Oscar data. I'm going to quickly make sure that the finalized data is merely a superset of the original data. Then, I'll save the merged data into a CSV where we can finalize our analysis.

In [ ]:
common_fields = ["nominated_film", "year", "award", "won", "nominee", "addl_notes", "special_citation", "oscar_id"]
assert len(pd.concat([oscar_data[common_fields], merged_oscar_results[common_fields]]).drop_duplicates(keep=False)) == 0

In [ ]:
merged_oscar_results.to_csv(OUTPUT_FILE, index=False)